.title {
  color: var(--Slate-700);
  font-size: 22px;
  font-weight: 800;
  line-height: 1.8;
  @media (width >= 768px) {
    font-size: 28px;
  }
}

.cards {
  margin-top: 16px;
}

.card {
  border-bottom: 2px solid var(--Gray-200);
}

.pagenation {
  margin-top: 16px;
  @media (width >= 768px) {
    margin-top: 40px;
  }
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  @media (width >= 768px) {
    gap: 8px;
  }
}

.number {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 2px solid var(--Blue-500);
  color: var(--Blue-500);
  text-align: center;
  font-family: var(--font-montserrat);
  font-size: 15px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.05em;
  transition:
    background-color 0.3s,
    color 0.3s;
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--Blue-500);
      color: var(--White);
    }
  }
  &.isCurrent {
    background-color: var(--Blue-500);
    color: var(--White);
  }
  @media (width >= 768px) {
    width: 56px;
    font-size: 16px;
  }
}
